.nav-header {
  display: flex;
  justify-content: space-around;
  img {
    background-image: url(https://http2.mlstatic.com/frontend-assets/ui-navigation/5.12.1/mercadolibre/logo-pt__large_plus.png);
  }
}