
.dropdown-menu {
  width: 1200px;
  height: max-content;
}

.dropdown-box {
  display: flex;
  flex-wrap: wrap;
  width: 110%;
  /* padding: 10px; */
}

.dropdown-item {
  font-size: 14px;
  border: none;
  box-sizing: 20px;
  margin: 0px 10px;
  width: calc((100% / 4) - 4rem);
}